


#title {
  background-color: #ff4c68;
  color: #fff;
}

.h1 {font-family: 'Montserrat' sans-serif;
color: white;
line-height: 1.5;
font-size: 3.5rem;
font-weight: 900;
}

.h2 {

  font-family: "montserrat";
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
}
.h3 {
  font-weight: bold;
  font-size: 1.5rem;

}
.p {
  color: #afafaf;

}
.container-fluid {
  padding: 3% 15%;
}
/* navigation bar */
.navbar {
  padding: 0 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu" ;
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-family: "Montserrat" sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  color: white;
  padding-left: 5px;

}
.download-button {
margin: 5% 3% 5% 0;

}
.title-image {
width: 40%;
  transform:rotate(20deg);
}
/* Features */
#features {
  padding: 50px 30px 50px 30px;
  text-align: center;

}

.icon {
color: #ef8172;
position: relative;
margin:auto;
padding: 5%


}
.icon:hover{
  color: #ff4c68;

}


/* testimonials */
#testimonials {
  background-color: #ff4c68;
  padding: 7% 13%;
  text-align: center;
  color: #fff;
}

.testimonial-text {}

  .testimonial-img {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

#press {
  background-color:  #ff4c68;
  text-align: center;

}
.press-logo {
  width: 15%;
  margin: 20px 20px 20px 50px;
}

